body{
  display: block;
  height:100%;
  width: 100%;
  margin:0;

  background-color: var(--dark);
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../PORTFOLIO/Squirrel_Shoot/Squirrel.jpg'); */
  /* background-image: url('OpeningPhotos/StandTall.jpg'); */

}

#slideshow {
  display: block;
  height:100vh;
  width: 100vw;
  margin:0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../OpeningPhotos/ColorCover.JPG');
  /* background-image: url('../PORTFOLIO/Dutch_Resistance/cover.png'); */


}

/* #tasu{
  display: block;
  position: absolute;

  bottom: 5%;
  left: 5%;
  color: var(--rosered2);
  text-shadow: -1px 0 var(--ny), 0 1px var(--ny), 1px 0 var(--ny), 0 -1px var(--ny);


  z-index: 10;
  font-size: 5vw;
  letter-spacing: 3px;
} */
