html, body{
  height:100%;
  width: 100%;
  margin:0;

  font-family: Geneva, Verdana, sans-serif;
  letter-spacing: 0.05em;

  /* background-color: var(--c2dark); */
  /* background-image: url('../icons/backtest.gif');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;  */
}

#fullscreen{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  z-index: 1;

  justify-content: center;
  align-items: center;
  /* align-content: center; */

  /* background-image: url('../icons/backtest.gif'); */
  background-color: var(--rosered2);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#top{
  display: hidden;
  position: absolute;
  top:0;
  left: 0;
  height: 0;
  width: 0;
}

#bod{
  display: flex;
  position: absolute;
  align-self: center;
  /* top: -100vh; */

  /* top: 1vmin; */
  /* left: 0.925%; */

  /* height: 94vh; */
  /* width: 92vw; */
  height: 0;
  width: 0;
  z-index: 4;
  /* margin: 2%; */

  /* border: 1px solid var(--dark); */
  border: none;
  border-radius: 3px;
  box-shadow: 0 7px 12px 0 rgba(0,0,0,0.24), 0 10px 14px 0 rgba(0,0,0,0.19);

  overflow-x: hidden;
  overflow-y: auto;

  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
  /* transition: height 0.8s ease-in-out; */

  /* transition: top 1s ease-out; */

  /* background-color: #fffff4; */
}

#tasu{
  display: block;
  position: absolute;

  bottom: 8%;
  left: 7%;
  color: var(--rosered1);
  /* text-shadow: -1px 0 var(--ny), 0 1px var(--ny), 1px 0 var(--ny), 0 -1px var(--ny); */

  z-index: 10;
  font-size: 5vw;
  letter-spacing: 3px;
}

#backbtn{
  display: block;
  position: fixed;
  height: 5.5vmin;
  width: 5.5vmin;
  top: 1%;
  right: 1%;
  overflow: hidden;
  z-index: 10;
  /* border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1), 0 3px 5px 0 rgba(0,0,0,0.15); */
}

#bac{
  /* display: block; */
  display: none;
  margin: auto;
  height: 5vmin;
  width: 5vmin;
  background-color: var(--dark);
  /* border: 0.5px groove var(--dark); */
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 3px 0 rgba(0,0,0,0.1);
}

#leftbtn{
  left: 3%;
  background-image: url('../icons/leftarrow.png');
  background-position: left;
}

#leftbtn:hover{
  background-image: url('../icons/leftarrowblack.png');
}

#rightbtn{
  right: 3%;
  background-image: url('../icons/rightarrow.png');
  background-position: right;
}

#rightbtn:hover{
  background-image: url('../icons/rightarrowblack.png');
}

.arr{
  display: none;
  position: absolute;
  background-color: transparent;
  opacity: 0.5;
  height: 100vh;
  width: 23vw;
  top: 0;
  overflow: hidden;
  z-index: 7;
  /* margin: 8vh 0; */
  text-align: center;

  /* background-position: center; */
  background-size: auto;
  background-repeat: no-repeat;
}

/* .arrow{
  display: none;
  margin: auto;
  height: 5vmin;
  width: 5vmin;
  background-color: var(--dark);
  border: 0.5px solid var(--rosered1);
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 3px 0 rgba(0,0,0,0.1);
  z-index: 8;
} */

.arr:hover {
  background-color: white;
  cursor: pointer;
  opacity: 0.2;
  /* color: var(--dp); */
}

.arr:active {
  transform: translateY(1px);
}
