html, body{
  height:100%;
  width: 100%;
  margin:0;

  font-family: Geneva;
  letter-spacing: 0.05em;

  /* background-color: var(--c2dark); */
  /* background-image: url('../icons/backtest.gif');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;  */
}

#fullscreen{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;

  /* background-image: url('../icons/backtest.gif'); */
  background-color: var(--dr);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#bigscreen{
  display: none;
}

#bod{
  display: inline-flex;
  position: absolute;

  top: 10vmin;
  left: 0.925%;
  height: 91vh;
  width: 96vw;
  z-index: 4;
  margin: 0 1%;
  color: white;

  border: none;
  overflow-x: hidden;
  overflow-y: auto;
}
