:root{
  --lblue: #0CABF7;
  --purple: #5438DC;
  --red: #E62449;
  --yellow: #FFC654;
  --green: #20BF55;

  --dark: #0e1111;

  --p2: #A800FF;
  --b2: #0079FF;
  --g2: #00F11D;
  --y2: #FFEF00;
  --r2: #FF0900;
  --o2: #FF7F00;

  --dr: #b50606;
  --db: #0b2a75;
  --dp: #572e8a;
  --dg: #0c6d63;
  --dy: #fcd944;

  --nr: #f23f49;
  --np: #4443e5;
  --ng: #194e42;
  --ny: #f79d2a;

}
