#foot{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 100vh;
  height: 40vh;
  width: 99vw;
  z-index: 4;
  margin: 1% 0.5%;
  color: white;

  /* border: 1px solid white; */
  overflow-x: hidden;
  overflow-y: hidden;

  background-color: var(--dark);

  justify-content: center;
  /* align-content: space-between; */
  color: white;

}

.footlist {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;

  height: 90%;
  width: 45%;
  margin: 1% 1%;

  /* text-align: center; */
  text-decoration: none;
  /* justify-content: space-around; */
  /* align-content: space-around; */
}

a{
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  color: var(--dp);
}

#navdirectory{
  font-size: 1em;
  font-weight: lighter;
  justify-content: space-around;
  align-items: flex-start;

}

#navdirectory li{
  width: fit-content;
  /* margin-left: 0; */
}

#navdirectory li:hover{
  opacity: 0.7;
  text-decoration: underline;
  color: var(--dp);
}

#footcontact{
  font-size: 0.9em;
  margin-right: 4%;
  font-weight: normal;
  align-items: flex-end;
}

#footcontact li{
  width: fit-content;
  /* margin-right: 0; */
}

#footcontact li span{
  vertical-align: top;
}
