#header{
  display: flex;
  position: fixed;
  height: 10vmin;
  width: 98vw;
  overflow: hidden;
  z-index: 10;
  color: white;
  margin: 0 0.5%;
  left: 0.5%;
  border-bottom: 1px solid white;
  background-image: var(--bgcolor);
}

#symblcont{
  display: inline-block;
  position: relative;
  height: 100%;
  width: 7%;
  overflow: hidden;

  left: 0.5%;
  margin: 0 1%;
}

#symbl{
  display: block;
  position: relative;
  height: 95%;
  width: 70%;
  margin: 0.5% 2%;

  border-radius: 60%;
  /* border-style: solid;
  border-width: thin; */

  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1), 0 3px 5px 0 rgba(0,0,0,0.15);
}

#symbl:hover {
cursor: pointer;
opacity: 0.7;
}

#symbl:active {
transform: translateY(1px);
}


#title{
  display: inline-flex;
  position: relative;
  height: 100%;
  width: 82%;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 3em;
}
/*
.tits{
  display: inline-block;
  position: relative;
  margin: 0% 1%;
  width: 20%;
  height: 95%;
  justify-content:flex-end;
  align-items: flex-end;
  align-content: flex-end;
  font-size: 3.5em;

} */


#backbtn{
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 5%;
  overflow: hidden;

  right: 0;
}

#bac{
  display: block;
  /* display: none; */
  border-radius: 50%;
  margin: 10% 20%;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-size: 2em;

  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1), 0 3px 5px 0 rgba(0,0,0,0.15);
}

#bac:hover {
  cursor: pointer;
  opacity: 0.7;
}

#bac:active {
  transform: translateY(1px);
}
