#highlightblock{
  display: flex;
  /* table-layout: fixed; */
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 100vh;
  height: 50vh;
  width: 94vw;
  z-index: 4;
  margin: 1% 0.5%;
  color: white;

  align-items: stretch;
  align-content: stretch;
  /* white-space: nowrap; */

  overflow-x: hidden;
  overflow-y: hidden;

  background-color: var(--dark);

  box-shadow: 0 7px 12px 0 rgba(0,0,0,0.24), 0 10px 14px 0 rgba(0,0,0,0.19);
  border-radius: 1px;

}

.highlight {
  /* display: table-cell; */
  /* vertical-align: middle; */
  display: block;
  position: relative;
  height: 100%;
  /* width: 24.75%; */
  width: 23.3vw;
  margin: 0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border: 0.1vw solid var(--dr);
  z-index: 1;
}

.highlight:hover{
  z-index: 3;
  position: sticky;
  transform: scale3d(1.3, 1.3, 1.3);
}

#tofolio{
  display: block;
  position: absolute;
  z-index: 5;
  overflow-x: hidden;
  overflow-y: hidden;

  top: 148vh;
  height: 8vh;
  width: 8vh;
  margin: 0% 0.5%;

  border-radius: 50%;
  background-color: var(--dr);
  background-image: url('../icons/add.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#tofolio:hover{
  opacity: 0.6;
  transform: translateY(-1px);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 3px 0 rgba(0,0,0,0.1);
}


/* .highlight img{
  display: block;
  height: 100%;
  width: 100%;
  height: fill;
  margin: 0 auto;
} */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .highlight {
    /* width: 49.75%; */
    width: 46.8vw;
    height: 50%;
  }
}
